.product-page {
	display: flex;
	justify-content: center;
	padding: 2px 390px 0px 390px;
	background: #f3f3f3;
	box-shadow: 0px 0px 80px #0000001a;
	border-bottom: 1px solid black;
}
.product-page-description {
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: sans-serif;
	padding: 20px 0px;
	background: #0f0f0f;
	border-radius: 50px 50px 0px 0px;
	color: white;
	width: 150%;
	margin: 19px 0px 0px -127px;
	box-shadow: 0px 40px 40px #0000009c;
	border-bottom: 11px solid #f70348;
}
.btn-back {
	width: -webkit-fill-available;
	background: gray;
	color: whitesmoke;
	font-family: system-ui;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 500;
	border-top: 7px solid #5f5e5e;
}

.product-tittle {
	font-size: 30px;
	font-family: "Poppins";
	color: #f70348;
	line-height: 50px;
}

.product-description-page {
	padding: 0px 109px;
	line-height: 20px;
}
