.tarea-contenedor{
    width: 500px;
    min-height: 65px;
    background-color: antiquewhite;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    cursor:pointer;
}

.tarea-contenedor:nth-child(3n+1){
    background-color: aqua;
}

.tarea-contenedor:nth-child(3n+2){
    background-color: greenyellow;
}

.tarea-contenedor:nth-child(3n+3){
    background-color: blue;
}

.tarea-texto{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tarea-contenedor .completada{
    background-color: blueviolet;
    text-decoration: line-through;
}