.navbar__container {
	display: flex;
	width: 100%;
	background: #f2f2f2;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	font-family: "Poppins";
	font-size: 15px;
	height: 80px;
	justify-content: space-between;
	font-weight: 500;
}

.navbar__container_logo {
	width: 560px;
}

.navbar__container_icons {
	display: flex;
}

.navbar__container_links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.top-bar {
	background: black;
	color: white;
	text-align: center;
	padding: 5px;
	font-family: "Poppins";
	font-size: 14px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
	justify-content: space-between;
	align-items: center;
	height: 35px;
	filter: drop-shadow(2px 5px 4px #00000045);
}

.coupon {
	margin-left: 20px;
}

.coupon-text {
	color: #f80246;
	font-weight: 600;
}

.nextui-c-iWjDFM .nextui-button-text {
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: var(--nextui-zIndices-2);
	width: 30px;
	margin-top: 10px;
}

.login-with-google-btn {
	width: -webkit-fill-available;
	display: flex;
	justify-content: center;
	font-family: "Poppins";
	padding: 0px 0px 5px 0px;
}

.nextui-c-iWjDFM-hkKLfu-color-default {
	background: #121212;
	color: var(--nextui-colors-primarySolidContrast);
	width: -webkit-fill-available;
	font-family: "Poppins";
	padding: 1px 1px 10px 0px;
	margin: 10px 0px 5px 0px;
}
.please_login {
	font-family: "Poppins";
	text-align: center;
	font-size: 12px;
	padding: 20px 0px;
	border-bottom: 1px solid #e3dede;
}
.nextui-c-iWjDFM-kaRBtV-cv {
	background: #2196f3;
	color: #ffffff;
}
.Login-container {
	font-family: "Poppins";
	text-align: center;
	padding: 10px;
}
