.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5vh;
	width: 100%;
	border-top: 1px solid black;
}

.navbar__container_logo {
	width: 50%;
}

.navbar__container_icons {
	display: flex;
	align-items: center;
	padding-right: 2rem;
	gap: 2vw;
	margin-right: 2rem;
}

.navbar__container_links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 2vw;
}