@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.ranking__container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.ranking__container_fighter1 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/Layer-593.png);
	background-size: cover;
	width: 350px;
	height: 430px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-family: "Poppins";
	text-align: center;
	box-shadow: 0px 20px 40px #8c8c8c42, -20px -10px 40px #0000009c;
	border-radius: 5px;
}

.ranking__container_fighter2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/Bruce2.png);
	background-size: cover;
	width: 350px;
	height: 430px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-family: "Poppins";
	text-align: center;
	box-shadow: 0px 20px 40px #8c8c8c42, -20px -10px 40px #0000009c;
	border-radius: 5px;
}

.ranking__container_fighter3 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image: url(https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/Keanu22.png);
	background-size: cover;
	width: 350px;
	height: 430px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
	font-family: "Poppins";
	text-align: center;
	box-shadow: 0px 20px 40px #8c8c8c42, -20px -10px 40px #0000009c;
	border-radius: 5px;
}

.ranking__number {
	color: #f80246;
	font-size: 25px;
	font-weight: 700;
}

.ranking__store {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}

.ranking__fighter {
	font-size: 31px;
	text-transform: uppercase;
	font-weight: bold;
}

.ranking__sold {
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
}

.ranking__button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background: #f80246;
	border: 0;
	width: 50%;
	margin: 15px auto;
	border-radius: 5px;
}
