.footer__container {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	margin: 0.2rem;
	gap: 10rem;
	background-color: black;
	color: white;
}

.footer__container_list ul {
	list-style: none;
	gap: 0.5rem;
	color: white;
}
.footer__container_list li {
	display: inline;
	padding: 0.5rem;
	color: white;
}
