.footer__container {
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	margin: 0.2rem;
	gap: 20rem;
	background-color: black;
	color: white;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 14px;
	border-top: 4px;
	border-style: groove;
	margin-top: 10px;
}

.footer__container_list ul {
	list-style: none;
	gap: 0.5rem;
	color: white;
}
.footer__container_list li {
	display: inline;
	padding: 0.5rem;
	color: white;
}

.alicia {
	color: #f80246;
	text-transform: uppercase;
	font-weight: 500;
}
