.select_fighter__bg {
	background-image: url("https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/SelectFighter_Title.jpg");
	background-size: cover;
	color: whitesmoke;
	text-align: center;
	height: 30px;
	display: flex;
	justify-content: center;
	justify-items: center;
	background-position-y: -15px;
}
.select_fighter__text {
	font-weight: initial;
	font-size: 25px;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}
.fighter__word {
	color: #f80246;
}

.select_fighter__container {
	display: flex;
	justify-content: center;
	flex-direction: row;
	background-image: url("https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/PINKBG.jpg");
	background-size: cover;
	background-position-y: -30px;
	height: 480px;
}

.select_fighter__container_fighter {
	display: flex;
	text-align: center;
	background: white;
	margin: 40px 10px 10px 10px;
	border-radius: 120px 120px 120px 120px;
	width: 230px;
	height: 390px;
	box-shadow: 0px -20px 24px #00000073;
}

.select_fighter__container_fighter_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	margin: 15px 8px 40px 8px;
}

.select_fighter__name {
	font-weight: bold;
	font-size: 18px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	line-height: 0px;
}

.select_fighter__store {
	font-weight: 400;
	font-size: 14px;
	font-family: "Poppins", sans-serif;
	text-transform: uppercase;
	line-height: 0px;
}
.store_icons {
	margin: -30px;
	color: #f80246;
}
.best_sellers {
	text-align: center;
	text-transform: uppercase;
	font-family: "Poppins";
	font-size: 25px;
	background-image: url("https://wordpress-797010-2726389.cloudwaysapps.com/wp-content/uploads/2022/08/SelectFighter_01.jpg");
	background-size: cover;
	background-position-y: 38px;
}
