.cart__item {
	display: flex;
	border: 2px solid black;
}
.cart__item_image {
	height: 4rem;
}

.cart__list {
	color: black;
}

.cart__item_bottom {
	display: flex;
	align-items: center;
}

.nextui-c-cVVQUL {
	/* right: 9rem !important; */
	/* width: max-content !important; */
}
