.sponsors__box {
	display: flex;
	justify-content: center;
}

.sponsors__container {
	display: flex;
	justify-content: center;
	margin: -100px 0px 45px 0px;
	width: 65%;
	padding: 21px;
	border-radius: 40px;
	background: linear-gradient(145deg, #f2f2f2, #f2f2f2);
	box-shadow: 0px 20px 40px #8c8c8c42, -20px -20px 60px #000000;
}
.img-sponsors {
	width: 65%;
	margin-left: 30px;
}
